{{hi}} said: 'Tính năng set hình nền trên điện thoại sắp có rồi nhé... 🙆‍♀️'
<br>
<a target="_blank" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=huynhnhon.dev@gmail.com&su=TI%C3%8AU+%C4%90%E1%BB%80&body=N%E1%BB%99i+dung...&tf=1">báo lỗi và góp ý</a>
<h3>VIDEO HƯỚNG DẪN CÁCH CÀI VÀ ĐẶT ẢNH</h3>
<iframe width="960" height="715" src="https://www.youtube.com/embed/c7_oDvp_aRI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- <div style="display: inline-block;
border-right: 2px dashed;" ng-repeat='i in data'>
    <img ng-repeat='y in i.history' src="{{y}}" ng-click="show(i)" title="click để chọn" alt="" width="200">
</div> -->
